doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon", href="/images/book.svg", type="image/x-icon")
    block styles
    title Lecturas
  body
    header
      nav.menu
        ul.menu__list  
          li(class=(path === '/' ? 'menu__list__option active' : 'menu__list__option'))
            a(href="/") Inicio 

          li(class=(path === '/lecturas' ? 'menu__list__option active' : 'menu__list__option'))
            a(href="/lecturas") Lecturas 

          li(class=(path === '/perfil' ? 'menu__list__option active' : 'menu__list__option'))
            a(href="/perfil") Perfil 


    main
      h2.title=mainTitle
      block content
  
  block scripts